<h2> Lista de Funcionário </h2> 

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Sobrenome</th>
            <th>Email</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr  *ngFor="let funcionario of funcionarios">
            <td> {{ funcionario.id }} </td>
            <td> {{ funcionario.nome }} </td>
            <td> {{ funcionario.sobrenome }} </td>
            <td> {{ funcionario.email }} </td>
            <td>
                <button (click) = "updateFuncionario(funcionario.id)" class="btn btn-info">Atualizar</button>
            </td>
        </tr>
    </tbody>
</table>